<header class="nav-wrapper glass" *ngIf="isAuth">
  <div class="nav-contenedor">
    <h2 class="brand">🍰 ByEstef</h2>

    <nav>
      <a routerLink="/dashboard" routerLinkActive="activo">Dashboard</a>
      <a routerLink="/ingredientes" routerLinkActive="activo">Ingredientes</a>
      <a routerLink="/recetas" routerLinkActive="activo">Recetas</a>
      <a routerLink="/ventas" routerLinkActive="activo">Ventas</a>
    </nav>

    <div class="acciones-top">
      <button type="button" class="secundario" (click)="toggleTheme()">
        {{ darkMode ? '☀️ Claro' : '🌙 Oscuro' }}
      </button>
      <button type="button" class="salir" (click)="logout()">Salir</button>
    </div>
  </div>
</header>

<main>
  <router-outlet />
</main>
